{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}BS{% endblock %}
{% block content %}
  <h1>about page</h1>
  <p>•A personal health record, or PHR, is a health record where health data and information related to the care of a patient is maintained by the patient.
•This stands in contrast to the more widely used electronic medical record, which is operated by institution and contains data entered by dispensary in our college.
•The intention of a PHR is to provide a complete and accurate summary of an individual's medical history which is accessible online.
•The health data on a PHR might include patient-reported outcome data, lab results, and data from devices such as wireless electronic weighing scales or collected passively from a Smartphone  or Web Application. 
•By using Google signs we have to get into our personal health records(PHR).</p>
{% endblock content %}
