{% extends 'base.html' %}
{% load static %}
{% load account socialaccount %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"></link>
<div class="container emp-profile">
	<form method="post">
		<div class="row">
			<div class="col-md-4">
				<div class="profile-img">
          <img alt="" src="{{ patient_account.user_social.extra_data.picture }}" style="width: 256px; height: 256px">
				</div>
			</div>
			<div class="col-md-6">
				<div class="profile-head">
					<h5>{{ patient_account.user_social.extra_data.name }}</h5><br>
					<h6>Student</h6>
					<p class="proile-rating">
						<span></span>
					</p>
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Health Details</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-2">
				<a href="{% url 'userprofile:view_profile_patient' %}" class="profile-edit-btn" name="btnAddMore" value="View Profile">View Profile</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">

			</div>
			<div class="col-md-8">
				<div class="tab-content profile-tab" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="row">
							<div class="col-md-6">
								<label>User Id</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Name</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.user_social.extra_data.name }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Email</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.email }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Phone</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.phone }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Gender</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.gender }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Address</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.address }}</p>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="row">
							<div class="col-md-6">
								<label>Height</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.height }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Weight</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.weight }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Reason</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.reason }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Illnesses</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.illnesses }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Other Illnesses</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.other_illnesses }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Prescribed Tablets</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.prescribed_tablets }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Drug allergies</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.drug_allergies }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Operations</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.operations }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Other Illnesses</label>
							</div>
							<div class="col-md-6">
								<p>{{ patient_account.other_illnesses }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock content %}
