{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<script>
  //sets email field to logged in user's email
  window.onload = function() {
      replaceEmail();
    };
    function replaceEmail() {
      document.getElementById("email").value = "{{ request.user.email }}";
    }
  </script>
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"></link>
<div class="container emp-profile">
  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
      <h2>Please select from list of patients</h2><br><br>
      <form method = 'POST' action="{% url 'userprofile:select_patient' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <select class="form-control" id="patients_list" onchange="populateTextfield()" name="patient_email">
          {% for patient in available_patients %}
            <option value="{{ patient.email }}">{{ patient.user_social.extra_data.name }} - {{ patient.email }}</option>
          {% endfor %}
        </select><br><br>
        <input type='submit' value='Go' class="btn btn-primary"/>
        <br>
        <br>
      </form>
    </div>
    <div class="col-2" ></div>
  </div>
</div>
{% endblock content %}
